$secondary: #606060;

* {
    font-family: 'Fira Sans', sans-serif;
}

.spell-card {
    width: 450px;
    margin: auto;

    .title {
        display: block;
        margin-bottom: 10px;

        h3 {
            font-size: 28pt;
            font-family: 'Roboto', sans-serif;
            padding: 0;
            display: inline;
        }
    
        p {
            padding-top: 0;
            font-style: italic;
            color: $secondary;
            margin-left: 5px;
            display: inline;
        }

    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            font-size: 11pt;
            font-weight: 600;
            
            span {
                font-size: medium;
                font-weight: 400;
            }
        }
    }

    .footnote {
        font-size: 9pt;
        color: $secondary;
    }
}