@use super::statics::spell_card_css; @use crate::spell::Spell; @(spell: &Spell)

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>@spell.name()</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="/static/@spell_card_css.name"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,600,600i,800,800i&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="spell-card">
      <div class="title">
        <span class="name">@spell.name()</span>
        <span class="school-level">@spell.school_and_level()</span>
      </div>
      <ul>
        <li class="casting-time">
          <span class="inline-heading">Casting Time</span>:&emsp;@spell.casting_time()
        </li>
        <li class="range"><span class="inline-heading">Range</span>:&emsp;@spell.range()</li>
        <li class="components">
          <span class="inline-heading">Components</span>:&emsp;@spell.components()
        </li>
        <li class="duration"><span class="inline-heading">Duration</span>:&emsp;@spell.duration()</li>
        <li class="classes"><span class="inline-heading">Classes</span>:&emsp;@spell.classes()</li>
      </ul>
      @for par in spell.paragraphs() {
      <p>
        @par
      </p>
      }
      @if let Some(mut at_higher_levels) = spell.at_higher_levels() {
        <p>
          <span class="inline-heading">At higher levels</span>. @at_higher_levels.next().unwrap()
        </p>
        @for par in at_higher_levels {
        <p>
          @par
        </p>
        } 
      }
      <p class="footnote">Reference: @spell.reference()</p>
    </div>
  </body>
</html>
